<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quantchi.customer.mapper.ConditionGroupMapper" >
    <resultMap type="com.quantchi.customer.pojo.ConditionGroup" id="BaseResultMap">
        <id column="id" property="id" ></id>
        <result column="cust_condition_id" property="cust_condition_id" />
        <result column="cust_condition_name" property="cust_condition_name" />
        <result column="create_user_id" property="create_user_id" />
        <result column="condition_desc" property="condition_desc" />
        <result column="condition_desc_id" property="condition_desc_id" />
        <result column="condition_statement" property="condition_statement" />
    </resultMap>

    <resultMap type="java.util.HashMap" id="listMap">
        <id column="id" property="id" ></id>
        <result column="cust_condition_id" property="cust_condition_id" />
        <result column="cust_condition_name" property="cust_condition_name" />
        <result column="condition_desc" property="condition_desc" />
    </resultMap>

    <insert id="createCustomerGroupCriteria" parameterType="map">
        INSERT INTO cust_group_condition(cust_condition_name, create_user_id, condition_desc,condition_desc_id) VALUES(#{CustomerGroupCriteriaName},#{create_user_id},#{condition_desc},#{condition_desc_id})
    </insert>

    <select id="findCustomerGroup" resultMap="BaseResultMap" parameterType="string">
        SELECT * FROM cust_group_condition WHERE cust_condition_id=#{customerConditionId}
    </select>

    <select id="listCustomerGroupCriterias" resultMap="listMap">
--         SELECT * FROM cust_group_condition
        SELECT cust_condition_id,cust_condition_name,condition_desc FROM cust_group_condition
    </select>

    <delete id="deleteCustomerGroup" parameterType="string">
        DELETE FROM cust_group_condition WHERE cust_condition_id=#{customerConditionId}
    </delete>
</mapper>