<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<property name="LOG_HOME" value="/var/logs/web" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %C{0}.%M %m%n</Pattern>
		</encoder>
	</appender>
	<appender name="stdout4sql" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %m%n</Pattern>
		</encoder>
	</appender>
	<appender name="info_warn_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %C{0}.%M %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info.%d{yyyyMMdd}.log</fileNamePattern>
			<maxhistory>30</maxhistory>
		</rollingPolicy>
		<evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator"> 
			<expression>
	           		e.level.toInt() == WARN.toInt()  || e.level.toInt() == INFO.toInt()
	        	</expression>
	      </evaluator>
	</appender>
	<appender name="error_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %C{0}.%M %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error.%d{yyyyMMdd}.log</fileNamePattern>
			<maxhistory>30</maxhistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="sql_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/sql.%d{yyyyMMdd}.log</fileNamePattern>
			<maxhistory>30</maxhistory>
		</rollingPolicy>
	</appender>

	<logger name="eframework.core.BaseDao" additivity="false">
		<level value="INFO" />
		<appender-ref ref="stdout4sql" />
		<appender-ref ref="sql_file" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="info_warn_file" />
		<appender-ref ref="error_file" />
	</root>
</configuration>
