<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quantchi.mapper.CustomerGroupMapper" >
  <resultMap type="com.quantchi.customer.pojo.CustomerGroup" id="BaseResultMap">
    <id column="id" property="id" ></id>
    <result column="cust_group_id" property="cust_group_id" />
    <result column="cust_group_name" property="cust_group_name" />
    <result column="condition_nums" property="condition_nums" />
    <result column="create_time" property="create_time" />
    <result column="create_user_id" property="create_user_id" />
    <result column="last_refresh_time" property="last_refresh_time" />
    <result column="cust_nums" property="cust_nums" />
    <result column="condition_desc" property="condition_desc" />
    <result column="condition_statement" property="condition_statement" />
    <result column="refresh_status" property="refresh_status" />
    <result column="delete_status" property="delete_status" />
    <result column="history_status" property="history_status" />
    <result column="default_analysis" property="default_analysis" />
  </resultMap>
  <select id="selectCustomerGroup" resultMap="BaseResultMap">
    select * from cust_group_header
  </select>
</mapper>