<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quantchi.termInfo.mapper.TermMainInfoMapper" >
  <resultMap id="BaseResultMap" type="com.quantchi.termInfo.pojo.TermMainInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="entity_type" property="entityType" jdbcType="VARCHAR" />
    <result column="entity_id" property="entityId" jdbcType="VARCHAR" />
    <result column="entity_hash" property="entityHash" jdbcType="VARCHAR" />
    <result column="entity_name" property="entityName" jdbcType="VARCHAR" />
    <result column="entity_desc" property="entityDesc" jdbcType="VARCHAR" />
    <result column="entity_status" property="entityStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="offline_time" property="offlineTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="control_dept" property="controlDept" jdbcType="VARCHAR" />
    <result column="assist_dept" property="assistDept" jdbcType="VARCHAR" />
    <result column="regulatory" property="regulatory" jdbcType="VARCHAR" />
    <result column="logic_type" property="logicType" jdbcType="VARCHAR" />
    <result column="display_type" property="displayType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.quantchi.termInfo.pojo.TermMainInfo" extends="BaseResultMap" >
    <result column="entity_alias" property="entityAlias" jdbcType="LONGVARCHAR" />
    <result column="business_rule" property="businessRule" jdbcType="LONGVARCHAR" />
    <result column="technique_rule" property="techniqueRule" jdbcType="LONGVARCHAR" />
    <result column="dev_policy" property="devPolicy" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, entity_type, entity_id, entity_hash, entity_name, entity_desc, entity_status, 
    create_time, offline_time, creator, control_dept, assist_dept, regulatory, logic_type, 
    display_type
  </sql>
  <sql id="Blob_Column_List" >
    entity_alias, business_rule, technique_rule, dev_policy
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.quantchi.termInfo.pojo.TermMainInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from md_term_main_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.quantchi.termInfo.pojo.TermMainInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from md_term_main_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from md_term_main_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from md_term_main_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.quantchi.termInfo.pojo.TermMainInfoExample" >
    delete from md_term_main_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.quantchi.termInfo.pojo.TermMainInfo" >
    insert into md_term_main_info (id, entity_type, entity_id, 
      entity_hash, entity_name, entity_desc, 
      entity_status, create_time, offline_time, 
      creator, control_dept, assist_dept, 
      regulatory, logic_type, display_type, 
      entity_alias, business_rule, technique_rule, 
      dev_policy)
    values (#{id,jdbcType=INTEGER}, #{entityType,jdbcType=VARCHAR}, #{entityId,jdbcType=VARCHAR}, 
      #{entityHash,jdbcType=VARCHAR}, #{entityName,jdbcType=VARCHAR}, #{entityDesc,jdbcType=VARCHAR}, 
      #{entityStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{offlineTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=INTEGER}, #{controlDept,jdbcType=VARCHAR}, #{assistDept,jdbcType=VARCHAR}, 
      #{regulatory,jdbcType=VARCHAR}, #{logicType,jdbcType=VARCHAR}, #{displayType,jdbcType=VARCHAR}, 
      #{entityAlias,jdbcType=LONGVARCHAR}, #{businessRule,jdbcType=LONGVARCHAR}, #{techniqueRule,jdbcType=LONGVARCHAR}, 
      #{devPolicy,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quantchi.termInfo.pojo.TermMainInfo" >
    insert into md_term_main_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="entityType != null" >
        entity_type,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
      <if test="entityHash != null" >
        entity_hash,
      </if>
      <if test="entityName != null" >
        entity_name,
      </if>
      <if test="entityDesc != null" >
        entity_desc,
      </if>
      <if test="entityStatus != null" >
        entity_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="offlineTime != null" >
        offline_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="controlDept != null" >
        control_dept,
      </if>
      <if test="assistDept != null" >
        assist_dept,
      </if>
      <if test="regulatory != null" >
        regulatory,
      </if>
      <if test="logicType != null" >
        logic_type,
      </if>
      <if test="displayType != null" >
        display_type,
      </if>
      <if test="entityAlias != null" >
        entity_alias,
      </if>
      <if test="businessRule != null" >
        business_rule,
      </if>
      <if test="techniqueRule != null" >
        technique_rule,
      </if>
      <if test="devPolicy != null" >
        dev_policy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="entityType != null" >
        #{entityType,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityHash != null" >
        #{entityHash,jdbcType=VARCHAR},
      </if>
      <if test="entityName != null" >
        #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityDesc != null" >
        #{entityDesc,jdbcType=VARCHAR},
      </if>
      <if test="entityStatus != null" >
        #{entityStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="offlineTime != null" >
        #{offlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="controlDept != null" >
        #{controlDept,jdbcType=VARCHAR},
      </if>
      <if test="assistDept != null" >
        #{assistDept,jdbcType=VARCHAR},
      </if>
      <if test="regulatory != null" >
        #{regulatory,jdbcType=VARCHAR},
      </if>
      <if test="logicType != null" >
        #{logicType,jdbcType=VARCHAR},
      </if>
      <if test="displayType != null" >
        #{displayType,jdbcType=VARCHAR},
      </if>
      <if test="entityAlias != null" >
        #{entityAlias,jdbcType=LONGVARCHAR},
      </if>
      <if test="businessRule != null" >
        #{businessRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="techniqueRule != null" >
        #{techniqueRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="devPolicy != null" >
        #{devPolicy,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update md_term_main_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.entityType != null" >
        entity_type = #{record.entityType,jdbcType=VARCHAR},
      </if>
      <if test="record.entityId != null" >
        entity_id = #{record.entityId,jdbcType=VARCHAR},
      </if>
      <if test="record.entityHash != null" >
        entity_hash = #{record.entityHash,jdbcType=VARCHAR},
      </if>
      <if test="record.entityName != null" >
        entity_name = #{record.entityName,jdbcType=VARCHAR},
      </if>
      <if test="record.entityDesc != null" >
        entity_desc = #{record.entityDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.entityStatus != null" >
        entity_status = #{record.entityStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.offlineTime != null" >
        offline_time = #{record.offlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.controlDept != null" >
        control_dept = #{record.controlDept,jdbcType=VARCHAR},
      </if>
      <if test="record.assistDept != null" >
        assist_dept = #{record.assistDept,jdbcType=VARCHAR},
      </if>
      <if test="record.regulatory != null" >
        regulatory = #{record.regulatory,jdbcType=VARCHAR},
      </if>
      <if test="record.logicType != null" >
        logic_type = #{record.logicType,jdbcType=VARCHAR},
      </if>
      <if test="record.displayType != null" >
        display_type = #{record.displayType,jdbcType=VARCHAR},
      </if>
      <if test="record.entityAlias != null" >
        entity_alias = #{record.entityAlias,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.businessRule != null" >
        business_rule = #{record.businessRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.techniqueRule != null" >
        technique_rule = #{record.techniqueRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.devPolicy != null" >
        dev_policy = #{record.devPolicy,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update md_term_main_info
    set id = #{record.id,jdbcType=INTEGER},
      entity_type = #{record.entityType,jdbcType=VARCHAR},
      entity_id = #{record.entityId,jdbcType=VARCHAR},
      entity_hash = #{record.entityHash,jdbcType=VARCHAR},
      entity_name = #{record.entityName,jdbcType=VARCHAR},
      entity_desc = #{record.entityDesc,jdbcType=VARCHAR},
      entity_status = #{record.entityStatus,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      offline_time = #{record.offlineTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=INTEGER},
      control_dept = #{record.controlDept,jdbcType=VARCHAR},
      assist_dept = #{record.assistDept,jdbcType=VARCHAR},
      regulatory = #{record.regulatory,jdbcType=VARCHAR},
      logic_type = #{record.logicType,jdbcType=VARCHAR},
      display_type = #{record.displayType,jdbcType=VARCHAR},
      entity_alias = #{record.entityAlias,jdbcType=LONGVARCHAR},
      business_rule = #{record.businessRule,jdbcType=LONGVARCHAR},
      technique_rule = #{record.techniqueRule,jdbcType=LONGVARCHAR},
      dev_policy = #{record.devPolicy,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update md_term_main_info
    set id = #{record.id,jdbcType=INTEGER},
      entity_type = #{record.entityType,jdbcType=VARCHAR},
      entity_id = #{record.entityId,jdbcType=VARCHAR},
      entity_hash = #{record.entityHash,jdbcType=VARCHAR},
      entity_name = #{record.entityName,jdbcType=VARCHAR},
      entity_desc = #{record.entityDesc,jdbcType=VARCHAR},
      entity_status = #{record.entityStatus,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      offline_time = #{record.offlineTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=INTEGER},
      control_dept = #{record.controlDept,jdbcType=VARCHAR},
      assist_dept = #{record.assistDept,jdbcType=VARCHAR},
      regulatory = #{record.regulatory,jdbcType=VARCHAR},
      logic_type = #{record.logicType,jdbcType=VARCHAR},
      display_type = #{record.displayType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.quantchi.termInfo.pojo.TermMainInfo" >
    update md_term_main_info
    <set >
      <if test="entityType != null" >
        entity_type = #{entityType,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null" >
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityHash != null" >
        entity_hash = #{entityHash,jdbcType=VARCHAR},
      </if>
      <if test="entityName != null" >
        entity_name = #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityDesc != null" >
        entity_desc = #{entityDesc,jdbcType=VARCHAR},
      </if>
      <if test="entityStatus != null" >
        entity_status = #{entityStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="offlineTime != null" >
        offline_time = #{offlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="controlDept != null" >
        control_dept = #{controlDept,jdbcType=VARCHAR},
      </if>
      <if test="assistDept != null" >
        assist_dept = #{assistDept,jdbcType=VARCHAR},
      </if>
      <if test="regulatory != null" >
        regulatory = #{regulatory,jdbcType=VARCHAR},
      </if>
      <if test="logicType != null" >
        logic_type = #{logicType,jdbcType=VARCHAR},
      </if>
      <if test="displayType != null" >
        display_type = #{displayType,jdbcType=VARCHAR},
      </if>
      <if test="entityAlias != null" >
        entity_alias = #{entityAlias,jdbcType=LONGVARCHAR},
      </if>
      <if test="businessRule != null" >
        business_rule = #{businessRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="techniqueRule != null" >
        technique_rule = #{techniqueRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="devPolicy != null" >
        dev_policy = #{devPolicy,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.quantchi.termInfo.pojo.TermMainInfo" >
    update md_term_main_info
    set entity_type = #{entityType,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      entity_hash = #{entityHash,jdbcType=VARCHAR},
      entity_name = #{entityName,jdbcType=VARCHAR},
      entity_desc = #{entityDesc,jdbcType=VARCHAR},
      entity_status = #{entityStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      offline_time = #{offlineTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      control_dept = #{controlDept,jdbcType=VARCHAR},
      assist_dept = #{assistDept,jdbcType=VARCHAR},
      regulatory = #{regulatory,jdbcType=VARCHAR},
      logic_type = #{logicType,jdbcType=VARCHAR},
      display_type = #{displayType,jdbcType=VARCHAR},
      entity_alias = #{entityAlias,jdbcType=LONGVARCHAR},
      business_rule = #{businessRule,jdbcType=LONGVARCHAR},
      technique_rule = #{techniqueRule,jdbcType=LONGVARCHAR},
      dev_policy = #{devPolicy,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quantchi.termInfo.pojo.TermMainInfo" >
    update md_term_main_info
    set entity_type = #{entityType,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      entity_hash = #{entityHash,jdbcType=VARCHAR},
      entity_name = #{entityName,jdbcType=VARCHAR},
      entity_desc = #{entityDesc,jdbcType=VARCHAR},
      entity_status = #{entityStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      offline_time = #{offlineTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      control_dept = #{controlDept,jdbcType=VARCHAR},
      assist_dept = #{assistDept,jdbcType=VARCHAR},
      regulatory = #{regulatory,jdbcType=VARCHAR},
      logic_type = #{logicType,jdbcType=VARCHAR},
      display_type = #{displayType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertTerms" parameterType="java.util.List">
    INSERT INTO md_term_main_info
    (
    entity_type, entity_id,
    entity_hash, entity_name, entity_desc,
    entity_status, create_time, offline_time,
    creator, control_dept, assist_dept,
    regulatory, logic_type, display_type,
    entity_alias, business_rule, technique_rule,
    dev_policy
    )
    VALUES
    <foreach collection="list" item="list" index="index" separator=",">
      (
      #{list.entityType},
      #{list.entityId},
      #{list.entityHash},
      #{list.entityName},
      #{list.entityDesc},
      #{list.entityStatus},
      #{list.createTime},
      #{list.offlineTime},
      #{list.creator},
      #{list.controlDept},
      #{list.assistDept},
      #{list.regulatory},
      #{list.logicType},
      #{list.displayType}
      )
    </foreach>
  </insert>
</mapper>