<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quantchi.termInfo.mapper.TermInfoMapper">
  <!--<resultMap type="com.quantchi.termInfo.pojo.TermInfoPojo" id="BaseResultMap">
    <id column="id" property="id"/>
    <result column="entity_type" property="entityType"/>
    <result column="entity_id" property="entityId"/>
    <result column="entity_hash" property="entityHash"/>
    <result column="entity_name" property="entityName"/>
    <result column="entity_desc" property="entityDesc"/>
    <result column="entity_alias" property="entityAlias"/>
    <result column="business_rule" property="businessRule"/>
    <result column="technique_rule" property="techniqueRule"/>
    <result column="entity_status" property="entityStatus"/>
    <result column="create_time" property="createTime"/>
    <result column="offline_time" property="offlineTime"/>
    <result column="creator" property="creator"/>
    <result column="control_dept" property="controlDept"/>
    <result column="assist_dept" property="assistDept"/>
    <result column="dev_policy" property="devPolicy"/>
    <result column="regulatory" property="regulatory"/>
    <result column="logic_type" property="logicType"/>
    <result column="display_type" property="displayType"/>
  </resultMap>-->
  <select id="selectTermAll" resultType="java.util.Map">
    select a.entity_type as entityType,
       a.entity_id as entityId,
       entity_hash as entityHash,
       entity_name as entityName,
       entity_desc as entityDesc,
       logic_type as logicType,
       display_type as displayType,
       physical_field_hash as physicalFieldHash,
       physical_field as physicalFieldId,
       physical_field_desc as physicalFieldDesc,
       physical_table as physicalTable,
       physical_db as physicalDB,
       data_type as dataType,
       data_length as dataLength,
       data_precision as dataPrecision,
       data_pattern as dataPattern,
       data_unit as dataUnit,
       partition_flag as fieldPartition
    from md_term_main_info a
    left join md_physical_field_info b on a.entity_id = b.entity_id
	</select>

  <select id="selectUdc" resultType="java.util.Map">
     select a.entity_type as entityType,
       a.entity_id as entityId,
       a.entity_hash as entityHash,
       c.udc_code as dataUDCCode,
       c.udc_rule_name as dataUDCRule,
       c.udc_value as dataUDCValue,
       c.udc_desc as dataUDCDesc
     from md_term_main_info a
    left join md_physical_field_info b on a.entity_id = b.entity_id
    left join sys_udc c on b.udc_rule_name = c.udc_rule_name and b.udc_code = c.udc_code
    where logic_type = '代码'
  </select>

</mapper>