<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quantchi.termInfo.mapper.TermInfoMapper">
  <!--<resultMap type="com.quantchi.termInfo.pojo.TermInfoPojo" id="BaseResultMap">
    <id column="id" property="id"/>
    <result column="entity_type" property="entityType"/>
    <result column="entity_id" property="entityId"/>
    <result column="entity_hash" property="entityHash"/>
    <result column="entity_name" property="entityName"/>
    <result column="entity_desc" property="entityDesc"/>
    <result column="entity_alias" property="entityAlias"/>
    <result column="business_rule" property="businessRule"/>
    <result column="technique_rule" property="techniqueRule"/>
    <result column="entity_status" property="entityStatus"/>
    <result column="create_time" property="createTime"/>
    <result column="offline_time" property="offlineTime"/>
    <result column="creator" property="creator"/>
    <result column="control_dept" property="controlDept"/>
    <result column="assist_dept" property="assistDept"/>
    <result column="dev_policy" property="devPolicy"/>
    <result column="regulatory" property="regulatory"/>
    <result column="logic_type" property="logicType"/>
    <result column="display_type" property="displayType"/>
  </resultMap>-->
  <select id="selectTermAll" resultType="java.util.Map">
    select a.entity_type as entityType,
    a.entity_id as entityId,
    entity_hash as entityHash,
    entity_name as entityName,
    entity_desc as entityDesc,
    logic_type as logicType,
    display_type as displayType,
    physical_field_hash as physicalFieldHash,
    physical_field as physicalFieldId,
    physical_field_desc as physicalFieldDesc,
    physical_table as physicalTable,
    physical_db as physicalDB,
    data_type as dataType,
    data_length as dataLength,
    data_precision as dataPrecision,
    data_pattern as dataPattern,
    data_unit as dataUnit,
    partition_flag as fieldPartition
    from md_term_main_info a
    left join md_physical_field_info b on a.entity_id = b.entity_id
    <where>
      <if test="entityDesc!=null and entityDesc.toString().length()>0">
        entity_desc LIKE CONCAT(CONCAT('%',#{entityDesc}), '%')
      </if>
    </where>
  </select>

  <select id="selectUdc" resultType="java.util.Map">
     select a.entity_type as entityType,
       a.entity_id as entityId,
       a.entity_hash as entityHash,
       c.udc_code as dataUDCCode,
       c.udc_rule_name as dataUDCRule,
       c.udc_value as dataUDCValue,
       c.udc_desc as dataUDCDesc
     from md_term_main_info a
    left join md_physical_field_info b on a.entity_id = b.entity_id
    left join sys_udc c on b.udc_rule_name = c.udc_rule_name and b.udc_code = c.udc_code
    where logic_type = '代码'
  </select>

  <select id="selectTerm" resultType="java.util.Map">
    SELECT DISTINCT
    a.entity_type AS entityType,
    a.entity_id AS entityId,
    a.entity_hash AS entityHash,
    a.entity_name AS entityName,
    a.entity_desc AS entityDesc,
    a.entity_alias AS entityAlias,
    a.business_rule AS businessRule,
    a.technique_rule AS techniqueRule,
    a.entity_status AS entityStatus,
    a.create_time AS createTime,
    a.offline_time AS offlineTime,
    a.creator AS creator,
    a.control_dept AS controlDept,
    a.assist_dept AS assistDept,
    a.dev_policy AS devPolicy,
    a.regulatory AS regulatory,
    a.logic_type AS logicType,
    a.display_type AS displayType,
    b.physical_field_hash AS physicalFieldHash,
    b.physical_field AS physicalFieldId,
    b.physical_field_desc AS physicalFieldDesc,
    b.physical_table AS physicalTable,
    b.physical_db AS physicalDB,
    b.data_type AS dataType,
    b.data_length AS dataLength,
    b.data_precision AS dataPrecision,
    b.data_pattern AS dataPattern,
    b.data_unit AS dataUnit,
    b.partition_flag AS fieldPartition,
    b.max AS dataMax,
    b.avg AS dataAvg,
    b.min AS dataMin,
    b.distribution AS dataDistribution,
    b.enumeration AS dataEnumeration,
    b.data_null AS dataNull,
    c.physical_table_hash AS physicalTableHash,
    c.table_type AS tableType,
    c.table_name AS tableName,
    c.table_desc AS tableDesc,
    c.last_modified_time AS lastModifiedTime,
    c.primary_key AS primaryKey,
    c.foreign_key AS foreignKey,
    c.partition_flag AS tablePartition,
    d.level_name AS levelName,
    d.theme_name AS themeName,
    d.category1 AS category1,
    d.category2 AS category2,
    d.category3 AS category3,
    d.suitable_type AS suitableType,
    d.suitable_condition AS suitableCondition
    FROM md_term_main_info a
    LEFT JOIN md_physical_field_info b ON a.entity_id = b.entity_id
    LEFT JOIN md_physical_table_info c ON b.physical_table = c.physical_table
    LEFT JOIN md_term_external_info d ON a.entity_id = d.entity_id
    where
    <if test="entityId!=null and entityId.toString().length()>0">
      a.entity_id = #{entityId}
    </if>

  </select>

  <select id="selectTermUdbc" resultType="java.util.Map">
    SELECT
    a.entity_type AS entityType,
    a.entity_id AS entityId,
    a.entity_hash AS entityHash,
    c.udc_code AS dataUDCCode,
    c.udc_rule_name AS dataUDCRule,
    c.udc_value AS dataUDCValue,
    c.udc_desc AS dataUDCDesc
  FROM md_term_main_info a
  LEFT JOIN md_physical_field_info b ON a.entity_id = b.entity_id
  LEFT JOIN sys_udc c ON b.udc_rule_name = c.udc_rule_name AND b.udc_code = c.udc_code
  WHERE logic_type = '代码' AND a.entity_id = #{entityId}
  </select>

  <select id="selectTermPhysical" resultType="java.util.Map">
    SELECT
    a.physical_table AS tableName,
    b.physical_field AS partField,
    b.physical_field_desc AS partDesc,
    b.data_type AS partFieldType,
    b.data_pattern AS partFieldPattern
  FROM md_physical_table_info a
  LEFT JOIN md_physical_field_info b ON a.physical_table = b.physical_table
  WHERE b.partition_flag = '1' AND a.physical_table = #{physicalTable}
  </select>


</mapper>